.img-detail-container {
    width: 50%;
}

.img-detail-container img {
    width: 100%;
}

.detail-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    align-items: center;
}

.data-detail-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}

.btn {
    background: #e4ac59 !important;
    letter-spacing: auto;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.btn a {
    color: white;
}

.detail-container div p {
    text-align: justify;
    margin: 3%;
    font-size: 18px;
}

.data-detail-container h3 {
    font-size: 20px;
}