.container-cart-list div {
    width: 10%;
}

.container-cart-list div img {
    width: 100%;
}

.container-cart-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-delete-item {
    background: none;
    border: 0;
}

.badge-icon {
    color: black;
}

.BaseBadge-badge {
    background-color: white;
}