.card-item-container {
    border-radius: 20px;
    margin: 3%;
}

.MuiCardContent-root {
    width: 92%;
}

.card-item {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.card-item div {
    width: 80%;
}

.card-item div img {
    width: 100%;
}

.name-price-container {
    display: flex;
    justify-content: space-between;
}

.name-price-container p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    font-size: 12px;
}

.btn-card {
    display: flex;
    justify-content: space-between;
}

.grid-card {
    padding-left: 0;
}

.btn {
    color: white !important;
    text-decoration: none;
    letter-spacing: auto;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.btn span {
    color: white !important;
    text-decoration: none;
    border: solid 2px;
    letter-spacing: auto;
    font-family: 'Roboto Condensed', sans-serif;
}


