.card-item-container {
    border-radius: 20px;
}

.card-item {
    display: flex;
    flex-direction: column;
    color: wheat;
    align-items: center;
}

.card-item div {
    width: 80%;
}

.card-item div img {
    width: 100%;
}

.name-price-container {
    display: flex;
    justify-content: space-between;
}

.name-price-container p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    font-size: 12px;
}

.btn-card {
    display: flex;
    justify-content: space-between;
}

.grid-card {
    margin: auto;
}

.btn {
    color: wheat !important;
    text-decoration: none;
    letter-spacing: auto;
}

.btn span {
    color: wheat !important;
    text-decoration: none;
    border-radius: 30px;
    border: solid 2px;
    letter-spacing: auto;
}


