.card-item div img {
    width: 100%;
}


.card-item {
    display: flex;
    flex-direction: column;
    color: wheat;
}

.card-item p {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    margin-bottom: 10px;
    font-size: 14px;
}

.btn-card {
    width: auto;
    display: flex;
}

.grid-card {
    max-width: none;
}

.btn-detail {
    color: wheat;
    text-decoration: none;
    border: solid 1px wheat;
    padding: 5px;
    border-radius: 30px;
}

.btn-detail span {
    color: wheat !important;
    text-decoration: none;
    border: solid 1px wheat;
    padding: 5px;
    border-radius: 30px;
}