header {
    box-shadow: none !important;
}

.toolbar-nav {
    display: flex;
    justify-content: space-evenly;
}

.container-logo {
    width: 80px;
}

.container-logo img {
    width: 100%;
}

.navbar-list { 
    display: flex;
    justify-content: space-around;
}

.dark-mode {
    background: black !important;
}

.light-mode {
    background: #e4ac59 !important;
}

.link-menu {
    font-size: 16px !important;
    color: white !important;
}

.link-sub-menu {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}