.toolbar-nav {
    display: flex;
    justify-content: space-evenly;
    color: wheat;
}

.container-logo {
    width: 100px;
}

.container-logo img {
    width: 100%;
}

.navbar-list { 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar-list li {
    display: flex;
}

.dark-mode {
    background: black !important;
}

.light-mode {
    background: #2e7d32 !important;
}

.link-menu {
    text-decoration: none;
    color: wheat !important;
}

.link-sub-menu {
    text-decoration: none;
    color: black;

}