.carrousel-container h2 {
    text-transform: none;
    color: black;
    font-size: 54px;
    margin-bottom: 5%;
}

.carousel .thumbs-wrapper {
    display: none;
}

.carousel .control-dots .dot {
    background-color: black;
}

.carousel-status {
    display: none

}



