.count-item {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    align-items: center;
    margin: 3%;
}

.btn {
    background: #e4ac59 !important;
    letter-spacing: auto;
    font-family: 'Roboto Condensed', sans-serif !important;
}